#hobbies {
    background: linear-gradient(50.13deg, #080153 51.04%, #3c3b3f 51.05%);;
    height: 150vh;
    display: flex;
    align-items: center;
}

.hobbie-pd {
    padding-top: 93px;
}

.hobbie-pd h2 { 
    text-align: center;
    padding-bottom: 70px;
}

.hobbie-descricao2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap:50px;
    padding-bottom: 70px;
}

.conteiner-hobbie {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 37px;
    max-width: 55%;
}

.hobbie-box {
    height: 140px;
    width: 140px;
    background-color: #C4C4C4;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    transition: ease 0.3s;
}

.hobbie-box:hover {
    background-color: white;
    transform: scale(1.05);
}

.conteiner-descricao2 {
    color: white;
    font-family: 'Quando', serif;
    font-size: 20px;
    max-width: 40%;
}

.hobbie-img{
    opacity: 0;
}
.hobbie-img:hover{
    opacity: 100;
}

@media (max-width:1200px) {

    .conteiner-descricao2 {
        height: 260px;
    }

    #hobbies {
        display: flex;
        justify-content: center;
    }

    .hobbie-descricao {
        display: flex;
        flex-direction: column-reverse;
        /* width: 535px; */
        margin: 0 auto;
        gap:50px;
        padding-bottom: 70px;
        align-items: center;
    }

    .hobbie-descricao p {
        text-align: center;
    }

}
@media (max-width:950px) {
    .conteiner-hobbie {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 37px;
        max-width: 300px;
    }

    .conteiner-descricao2 {
        max-width: 300px;
    }

}

.hobbie-box .icones-hobbie {
    transition: ease-in-out 0.3s;
}

.hobbie-box:hover .icones-hobbie {
    opacity: 0;
}

.hobbie1{
    background-image: url(../img/playstation.png);
    background-position: center;
}

.hobbie2 {
    background-image: url(../img/filme.png);
}

.hobbie3 {
    background-image: url(../img/series.png);
    background-position: center;
}

.hobbie4 {
    background-image: url(../img/anime.png);
}

.hobbie5 {
    background-image: url(../img/comic.png);
}

.hobbie6 {
    background-image: url(../img/livros.png);
    
}

.hobbie7 {
    background-image: url(../img/sports.png);
}
#fundo {
    fill: red;
}

